{% extends 'base.html' %}

{% block title %}Категории товаров{% endblock %}

{% block content %}
<h3>Комплектующие для ПК</h3>
<div class="category-grid">
    {% for category in categories %}
        <div class="category-card">
            <a href="{% url 'product_list' category.id %}">
                <img src="{{ category.image.url }}" alt="{{ category.name }}">
                <div class="category-name">
                    <h3>{{ category.name }}</h3>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}

